{% block re_captcha_submit_widget %}
    {% set attr = attr | merge({'data-recaptcha-id': id, value: attr['value']|trans({}, 'form')}) %}
    <input type="submit" {{ block('widget_attributes') }}/>
{% endblock re_captcha_submit_widget %}
