<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render={{ google_recaptcha_site_key }}" async defer></script>
<script>
    function onloadCallback() {
        const action = '{{ app.request.pathInfo|trim('/')|replace({'/':'_'})}}';
        grecaptcha
            .execute('{{ google_recaptcha_site_key }}', { action })
            .then(token => {
                fetch('{{ path('google_api_recaptcha_verify') }}', {
                    mode: 'no-cors',
                    method: 'POST',
                    body: JSON.stringify({ token, action }),
                }).then(response => {
                    if (response.success) {
                        document.querySelector('input[data-recaptcha-id]').remove();
                    }
                });
            });
    }
</script>
